<!DOCTYPE html>
<html>

	<head>
		<title>Budstock</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
	</head>

	
	<body>

			<header> <img src="{{ url_for('static', filename='buda.PNG') }}" width="50" alt="Buda" title="Buda">

				<h1>BUDSTOCK</h1>

			</header>


			<div id="titulo">
				<h2>Budstock</h2>
					<article>O Budstock é a ferramenta ideal para organizar sua empresa.</article>
            </div>




			<h3>Estoques:</h3>

			<form method= "post" id="caixa">Novo estoque:<input type="text" name="novo_estoque"><input type="submit" name="add"value="criar"></form>

				<ul id="links"><form action="/" method= "POST" id="myForm2">
					{% for i in range (0,len) %}
					<li><a href="{{url_for('pag_estoque',info=repeat[i])}}">{{repeat[i]}}</a><input id="fechar" type=button onclick="openForm('{{repeat[i]}}')" name="{{repeat[i]}}" value="X" style="width:auto;"/></li>
					{% endfor %}</form>



				<div class="col-md-8">
			  {% with messages = get_flashed_messages(with_categories=true) %}
				  {% if messages %}
					{% for category, message in messages %}
					  <div id="mensagem" class="alert alert-{{ category }}">
						{{ message }}
					  </div>
			   {% endfor %}
				  {% endif %}
			  {% endwith %}
		  </div>


		<div id="myForm" class="modal">

		  <form class="modal-content" action="" method="post" >

			<div class="container">
				<div class="close" onclick="closeForm()">&times;</div>

				<h4>Deseja excluir o estoque?</h4>


				  <input type="submit" id="input_delete" form="myForm2" name="yes" value="sim" class="bt"/>
				  <button type="button" onclick="closeForm()" class="cancelbtn">Não</button>


			</div>
		  </form>
		</div>

		<script>
		function openForm(nome_input) {
		  document.getElementById("myForm").style.display = "flex";
		  document.getElementById("input_delete").setAttribute("name",nome_input)
		}

		function closeForm() {
		  document.getElementById("myForm").style.display = "none";
		}
		</script>


				</ul>



			<footer>
				<p id="fale">fale conosco</p>

				<p id="link1"><a href="https://web.facebook.com/budstock.buda.1" title="página Budstock">Budstock no Facebook</a></p>
				<p id="link2">email:budstock0000@gmail.com</p>
				<p id="link3">telefone: 4002-8922 </p>
			</footer>


	</body>
	
</html>